<div class="formGroup">
   <button type="button" (click)="FacebookAuth()">
      Log in with Facebook
   </button>
   <input type="text" [(ngModel)]='obj.user'  />
</div>

<div class="formGroup">
   <button type="button" (click)="GoogleAuth()">
      Log in with Google
   </button>
</div>
  

{{obj.user}}
{{obj.bol}}